extends layout

block content
  div(class="col-2")
  div(class="col-6")
    br
    br
    pre(style="font-size: 2rem")
      |______________________________________
      |/ Welcome to Chatsploit!  Chatting for   \
      || people who like using obscure websites |
      |\ with limitted credibility.             /
      |  --------------------------------------
      |         \   ^__^ 
      |          \  (oo)\_______
      |             (__)\       )\/\
      |                 ||----w |
      |                 ||     ||
      |    
  div(class="col-2")